@font-face{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/Gilroy-Bold-Font/Gilroy-Regular.ttf)
}

@font-face{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: url(../../assets/fonts/Gilroy-Bold-Font/Gilroy-Bold.ttf)
}